ul {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}


ul :nth-child(3) {
    order: 1;
}

ul :nth-child(4)::before {
    content: "THE BOSS";
    color: red;
    font-weight: bold;
    display: block;
    position: absolute;
    top: 0;
}
